.about {
}
.about .title-holder {
  margin-bottom: 30px;
}
.about .title-holder span {
  text-align: center;
  color: #747474;
  font-weight: 500;
}

.about > .container:has(.about-section) {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 12px;
}
.about .container:has(.about-section) > * {
  padding: 30px 35px;
}
.about .container h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.about .container h5 {
  font-size: 17px;
  margin-bottom: 9px;
}
.about .container p {
  line-height: 1.4;
}
.about .container p span {
}
.about .container ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 18px;
  margin: 9px 0 11px;
}
.about .container li {
  position: relative;
}

.about .about-section {
  background: var(--second-color);
  border-radius: 30px;
  padding: 30px 35px;
}
.about .about-section p {
  color: var(--title-color);
  font-size: 16px;
  margin-bottom: 12px;
}
.about .about-section span {
  color: var(--title-color);
  font-weight: 600;
}
.about .about-section h5 {
  margin-top: 19px;
}
.about .about-section li::before {
  content: "•";
  color: var(--paragraph);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
}
[lang="ar"] .about .about-section li::before {
  left: unset;
  right: -15px;
}
.about .vision-mission {
  flex-direction: column;
  gap: 29px;
  display: flex;
}
.about .vision-mission h3 {
  text-align: center;
}
.about .vision-mission p {
  text-align: center;
}
.about .vision p {
  width: 80%;
  margin: auto;
  font-size: 18px;
}
.about .vision-mission .mission h5 {
  text-align: center;
  color: var(--paragraph);
  margin: -5px 0 16px;
}
.about .vision-mission .mission ul {
  flex-flow: wrap;
  gap: 15px 26px;
  display: flex;
  justify-content: center;
}
.about .vision-mission .mission ul li {
  background: var(--second-color);
  padding: 9px 17px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 30px;
}
.about .vision-mission .mission ul li::before {
  content: "•";
  color: #ea8c43;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
[lang="ar"] .about .vision-mission .mission ul li:before {
  left: unset;
  right: -15px;
}

.about .game-center {
  background: var(--second-color);
  border-radius: 30px;
}
.about .container ul {
  padding-left: 10px;
}
.about .game-center li {
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
}
.about .game-center li svg {
  color: var(--main-color);
  font-size: 14px;
}

.about .why-masr {
  background: var(--second-color);
  border-radius: 30px;
}
.about .why-masr p {
  margin-bottom: 14px;
  font-size: 17px;
}

.about .our-values {
}
.about .our-values .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}
.about .our-values .top h3 {
  margin-bottom: 4px;
}
.about .our-values .cards-grid {
  flex-flow: wrap;
  justify-content: center;
  gap: 12px;
  display: flex;
}
.about .our-values .card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  background: var(--second-color);
  box-shadow: unset;
}
.about .our-values .card h4 {
  font-size: 18px;
  color: var(--paragraph);
}
.about .our-values .card p {
  font-size: 15px;
}

.about .closing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  padding: 0;
  margin-top: -20px;
}
.about .closing div {
  display: flex;
  gap: 9px;
  color: var(--paragraph);
  font-weight: 500;
  flex-wrap: wrap;
  align-items: center;
}
.about .closing p {
  background: var(--second-color);
  border-radius: 30px;
  padding: 6px 18px;
  font-size: 14px;
}
