/*! Cart  */

.table-item .item-total {
  display: flex;
  justify-content: center;
}
.table-item .item-price {
  display: flex;
  justify-content: center;
}

.table-item .item-price .price-holder .old-price {
  font-size: 15px !important;
  color: #898989;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  justify-content: center;
}

.quantity-btn {
  color: var(--paragraph);
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  flex: 1;
  min-width: 37px;
  max-width: 37px;
  height: 37px;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 600;
}

.quantity-btn:hover:not(:disabled) {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

.quantity-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.quantity-number {
  font-weight: 600;
  text-align: center;

  color: var(--paragraph);
}

.stock-info {
  font-size: 0.8rem;
  color: #28a745;
  margin-top: 0.3rem;
}

.out-of-stock {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

.price-with-sale {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9rem;
  font-weight: normal;
}

.favorites-total {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: right;
}

.total-content {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.total-label {
  margin: 0;
  color: var(--paragraph);
}

.total-amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28a745;
}

.checkout-progress {
  margin: 2rem 0;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 600px;
  margin: -7px auto 0;
}

.progress-steps::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e9ecef;
  z-index: 1;
}

.progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e9ecef;
  color: var(--paragraph);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid #e9ecef;
}

.step-label {
  font-size: 0.9rem;
  color: var(--paragraph);

  transition: all 0.3s ease;
}

.progress-step.active .step-number {
  background-color: #ea8c43;
  border-color: #ea8c43;
  color: white;
}

.progress-step.active .step-label {
  color: #ea8c43;
  font-weight: 600;
}

/* Step Content */
.step-content {
  margin-bottom: 2rem;
}

/* Order Information - Step 2 */
.order-information {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 20px;
  margin-top: 2rem;
}

.form-section,
.summary-section {
  background: #fff;
  border-radius: 12px;
  padding: 17px;
  box-shadow: 0 2px 10px #0000001a;
  display: flex;
  flex-direction: column;
}

.summary-section {
  padding: 10 0;
}
.section-title {
  color: var(--paragraph);
  padding: 7px 16px 13px;
  font-size: 17px;
}
.form-section .section-title {
  padding: 0;
  font-size: 19px;
}
.form-section .box.forInput label {
  margin: 16px 0 4px;
}
.form-section .form-section {
  height: 100%;
}
.coupon-holder {
  padding: 0 !important;
  gap: 0 !important;
  display: flex;
  overflow: hidden;
  height: 50px;
  border: none !important;
}
.form-section .box.forInput .inputHolder,
.form-section .box.forInput .inputHolder .holder,
.form-section .box.forInput:has(textarea),
.form-section .box.forInput .inputHolder .holder textarea {
  height: 100%;
}
.form-section .box.forInput .inputHolder .holder {
  padding: 14px 10px;
  border-color: #d4d4d4;
}

.form-section .box.forInput .inputHolder .holder textarea {
  width: 100% !important;
  resize: none;
  /* height: 242px; */
}
.coupon-section.box.forInput .inputHolder .holder input {
  border: 1px solid #d4d4d4;
  border-radius: 11px 0 0 11px;
  padding: 13px;
  border-right: 0;
}
.apply-coupon-btn {
  color: #fff;
  cursor: pointer;
  background: #ea8c43;
  width: 86px;
  height: 50px;
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.3px;
  border: 1px solid var(--main-color);
  border-radius: 0 12px 12px 0;
}

.apply-coupon-btn:hover {
  background: #d87c33;
}

.summary-items {
  max-height: 252px;
  overflow-y: auto;
  padding: 0 14px 0 17px;
  border-top: 2px solid #e9ecef;
  border-bottom: 2px solid #e9ecef;
}

.summary-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;
}

.summary-item:last-child {
  border-bottom: none;
}
.summary-item-image {
  display: flex;
}
.summary-item-image .product-image {
  border-radius: 6px;
}

.summary-item-details {
  flex: 1;
}

.summary-item-name {
  margin: 0 0 0.25rem 0;
  font-size: 0.9rem;
  color: #333;
}

.summary-item-quantity {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.summary-item-price {
  font-size: 14px;
  color: var(--paragraph);
  font-weight: 700;
}
.coupon-section {
  padding: 13px 17px 8px;
}
.coupon-section .hold {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.coupon-section label {
  margin: 0 !important;
  color: var(--paragraph) !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.summary-total {
  border-bottom: 2px solid #e9ecef;
  padding: 15px 16px 8px;
  display: flex;
  gap: 14px;
}

.total-line {
  letter-spacing: 0.2px;
  margin-bottom: 0.45rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--paragraph);
}

.payment-method {
  text-align: center;
  padding: 4rem 2rem;
}

.payment-title {
  margin-bottom: 1rem;
}

.payment-subtitle {
  font-size: 1.1rem;
}

/* Checkout Navigation */
.checkout-navigation {
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0 1rem;
  display: flex;
  width: 70%;
  margin: auto;
}

.nav-btn {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background: #ea8c43;
  border: none;
  border-radius: 6px;
  width: 150px;
  padding: 0.75rem 0;
  font-weight: 700;
  transition: all 0.3s;
  letter-spacing: 0.2px;
}

.nav-btn:hover {
  background: #d87c33;
}
.nav-btn:disabled {
  visibility: hidden;
  transition: 0s;
}
.navigation-total {
  align-items: center;
  gap: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
}

.total-amount {
  color: var(--main-color);
  font-size: 23px;
  font-weight: 900;
}

@media (max-width: 992px) {
  .checkout-navigation {
    width: 100%;
  }
  .order-information {
    grid-template-columns: 1fr 370px;
  }
}
@media (max-width: 890px) {
  .order-information {
    flex-direction: column;
    display: flex;
  }
  .form-section .box.forInput .inputHolder .holder textarea {
    height: 130px;
  }
}
@media (max-width: 768px) {
  .checkout-progress {
    margin: 1.5rem auto;
    width: 90%;
  }
  .step-number {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }
}
