.discover {
}

.discover .holder {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discover .grid-holder {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.discover .grid-holder:has(.product) {
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
}
.discover .grid-holder:has(.game) {
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}
.places-page {
  position: relative;
  min-height: 90vh;
}
.hero-image-holder + .title-holder.pages {
  margin: 38px auto 32px;
}

@media (max-width: 1050px) {
  .sub-title {
    max-width: 85%;
  }
}
