/*! single-game */
.single-game {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 125px;
}
.progress-holder {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 9px 30px 20px;
}
.game-page .progress-bar {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}

.game-page .progress-bar .progress {
  height: 100%;
  background: var(--main-color);
  width: 0%;
  transition: width 0.4s ease;
}

.game-page .progress-text {
  text-align: center;
  color: var(--paragraph);
  font-weight: 600;
  font-size: 15px;
}

.game-page .question-box {
  background: #fff;
  padding: 22px 22px 19px;
  border-radius: 14px;
  box-shadow: 0 2px 10px #0000001a;
}
.game-page .question-box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.game-page .question-box h3 {
  font-size: 17px;
  color: var(--paragraph);
  font-weight: 500;
}
.game-page .question-box .top span {
  color: var(--main-color);
  min-width: max-content;
  font-weight: 700;
}
.game-page .options {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 16px 0 18px;
  display: grid;
}

.game-page .option {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fafafa;
  cursor: pointer;
  transition: 0.3s;
  color: var(--paragraph);
  font-weight: 600;
  font-size: 14px;
}

.game-page .option:hover {
  background: #f0f0f0;
}

.game-page .option.selected {
  background: #ffe3c7;
  border-color: var(--main-color);
}

.game-page .nav-btns {
  display: flex;
  justify-content: space-between;
}

.game-page .nav-btns button {
  height: 38px;
  width: 120px;
  font-size: 13px;
}
.game-page .prev-btn {
  color: var(--paragraph);
  background: #fafafa;
  border: 1px solid #ccc;
}
.game-page .prev-btn:disabled {
  visibility: hidden;
}
.game-page .prev-btn:hover {
  background: var(--section-color);
}

@media (max-width: 1300px) {
  .game-page .question-box h3 {
    font-size: 1rem;
  }
  .game-page .question-box .top span {
    font-weight: 500;
    font-size: 1rem;
  }
  .game-page .option {
    font-size: 13px;
  }
}
@media (max-width: 1150px) {
  .single-game {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .single-game {
    padding: 15px;
    width: 100%;
  }
  .game-page .question-box h3 {
    font-size: 14px;
  }
  .game-page .nav-btns button {
    width: 108px;
    height: 35px;
    font-size: 12px;
  }

  .game-page .question-box .top {
    gap: 6px;
    flex-direction: column-reverse;
  }
  .game-page .question-box .top span {
    font-size: 14px;

    font-weight: 700;
  }
  .game-page .options {
    gap: 6px;
  }
  .game-page .option {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .game-page .option {
    border-radius: 6px;
    padding: 8px 15px;
    font-weight: 500;
  }
  .game-page .question-box {
    padding: 15px 22px 15px;
  }
  .game-page .options {
    margin: 0px 0 14px;
  }
  .game-page .nav-btns button {
    font-size: 10px;
  }
}
