/*! games-card */
.game {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  flex-direction: column;
  overflow: hidden;
}
.game > img {
  width: 100% !important;
  height: unset !important;
  aspect-ratio: 2;
  position: relative !important;
}
.game .text-holder {
  flex-direction: column;
  gap: 7px;
  padding: 15px 12px;
  display: flex;
}
.game .text-holder span.color {
  color: var(--paragraph);
  font-size: 15px;
  font-weight: 700;
}
.game .text-holder .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game .text-holder .top h4 {
  color: var(--paragraph);
  font-size: 17px;
  letter-spacing: 0.4px;
}
.game .text-holder .top .steps {
  color: var(--main-color);
  letter-spacing: 0.3px;
  font-size: 15px;
  font-size: 15px;
  font-weight: 900;
}
.game .text-holder .reviews {
  margin: -1px 0 -3px;
}
.game .text-holder .difficulty {
  padding: 0 4px;
}
.game .text-holder .holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid var(--main-color);
  background: var(--second-color);
  border-style: dotted;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
  gap: 6px !important;
}
.game .text-holder .holder .hold {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game .text-holder .holder .color {
  font-size: 13px;
  font-weight: 800;
}
[lang = "ar"] .game .text-holder .holder .color {
  font-weight: 700;
}
.game .text-holder .price-holder p {
  justify-content: center;
}
.game .text-holder .price-holder .old-price {
  color: #767676;
}
.game .text-holder .description {
  -webkit-line-clamp: 2;
  padding: 0 4px;
  font-size: 14px;
  line-height: 1.3;
}
.game .text-holder .description.no-clamp {
  -webkit-line-clamp: unset;
}
.game .text-holder .main-button {
  width: 100%;
  height: 44px;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
  color: white !important;
}
/*! preview-game */
.big-holder.for-games {
  flex-direction: column;
}
.discover .for-games > .holder {
  flex-direction: row;
  margin: 35px 0;
  gap: 10px;
}
.discover .pruche-now {
  background: radial-gradient(black, transparent);
  height: fit-content;
  position: sticky;
  top: 88px;
}
.discover .steps-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 28px;
  min-width: 55%;
}

/* كل خطوة */
.discover .steps-list .step {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* الخط العمودي */
.discover .steps-list .step .line {
  background: var(--second-color);
  width: 7px;
  height: 28px;
  position: absolute;
  top: -28px;
  border: 2px solid var(--main-color);
  border-style: dotted;
}

/* الايقونة = السنتر */
.discover .steps-list .icon-wrapper {
  border: 2px solid var(--main-color);
  border-style: outset;
  z-index: 2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  display: flex;
  position: relative;
}
.discover .steps-list .step.left .icon-wrapper {
  border-style: inset;
}
/* العنوان */
.discover .steps-list .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 250px;
  font-size: 14px;
  font-weight: 700;
  color: var(--paragraph);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background: var(--section-color);
  padding: 5px 12px;
  border-radius: 7px;
}

/* الكوينز */
.discover .steps-list .coins {
  white-space: nowrap;
  color: var(--main-color);
  background: var(--section-color);
  border-radius: 7px;
  align-items: center;
  gap: 3px;
  padding: 5px 12px;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  height: 27px;
}

/* ===== الاتجاه ===== */

/* خطوة شمال */
.discover .steps-list .step.left .title {
  right: calc(50% + 34px);
  text-align: right;
}

.discover .steps-list .step.left .coins {
  left: calc(50% + 34px);
}

/* خطوة يمين */
.discover .steps-list .step.right .title {
  left: calc(50% + 34px);
  text-align: left;
}

.discover .steps-list .step.right .coins {
  right: calc(50% + 34px);
}

[lang="ar"] .discover .steps-list .step.left .title {
  right: unset;
  left: calc(50% + 34px);
  text-align: left;
}

[lang="ar"] .discover .steps-list .step.left .coins {
  left: unset;
  right: calc(50% + 34px);
}

/* خطوة يمين */
[lang="ar"] .discover .steps-list .step.right .title {
  left: unset;
  right: calc(50% + 34px);
  text-align: right;
}

[lang="ar"] .discover .steps-list .step.right .coins {
  right: unset;
  left: calc(50% + 34px);
}

/*! single-game */

.steps-accordion {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.steps-accordion .step-item {
}
.steps-accordion .step-item .step-header {
  background: var(--section-color);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  color: var(--paragraph);
  cursor: pointer;
  transition: 0.3s;
}
.steps-accordion .step-item .step-header:hover {
  background: var(--second-color);
}
.steps-accordion .step-item.active .step-header {
  border-radius: 12px 12px 0 0;
  background: var(--main-color);
}
.steps-accordion .step-item.active .step-header > * {
  color: white !important;
}
.steps-accordion .step-item .step-header h4 {
  color: var(--paragraph);
  transition: 0.3s;
}
.steps-accordion .step-item .step-header span {
  transition: 0.3s;
}
.steps-accordion .step-item .step-header .coins {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 800;
  color: var(--hover-color);
}
.steps-accordion .step-item .step-content {
  border: 1px solid var(--border-color);
  border-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 0;
  height: 0px;
  transition: 0.4s;
  overflow: hidden;
}
.steps-accordion .step-item.active .step-content {
  padding: 12px;
}
.steps-accordion .step-item .step-content:has(.location-image) {
  padding-top: 8px;
}
.steps-accordion .step-item .step-content .location-image {
  position: relative;
  aspect-ratio: 2;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  margin: 10px 0;
}
.single-game {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 125px;
}
.progress-holder {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 9px 30px 20px;
}
.game-page .progress-bar {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}

.game-page .progress-bar .progress {
  height: 100%;
  background: var(--main-color);
  width: 0%;
  transition: width 0.4s ease;
}

.game-page .progress-text {
  text-align: center;
  color: var(--paragraph);
  font-weight: 700;
  font-size: 15px;
}

.game-page .question-box {
  background: #fff;
  padding: 22px 22px 19px;
  border-radius: 14px;
  box-shadow: 0 2px 10px #0000001a;
}
.game-page .question-box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.game-page .question-box h3 {
  font-size: 17px;
  color: var(--paragraph);
  font-weight: 700;
}
.game-page .question-box .top span {
  color: var(--main-color);
  min-width: max-content;
  font-weight: 700;
}
.game-page .options {
  grid-template-columns: repeat(2, 1fr);
  gap: 9px 7px;
  margin: 10px 0 7px;
  display: grid;
}

.game-page .option {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fafafa;
  cursor: pointer;
  transition: 0.3s;
  color: var(--paragraph);
  font-weight: 700;
  font-size: 14px;
}

.game-page .option:hover {
  background: var(--second-color);
}

.game-page .option.selected {
  background: var(--second-color);
  border-color: var(--main-color);
}

.game-page .nav-btns {
  display: flex;
  justify-content: space-between;
}

.game-page .nav-btns button {
  height: 38px;
  width: 120px;
  font-size: 13px;
}
.game-page .prev-btn {
  color: var(--paragraph);
  background: #fafafa;
  border: 1px solid #ccc;
}
.game-page .prev-btn:disabled {
  visibility: hidden;
}
.game-page .prev-btn:hover {
  background: var(--section-color);
}
.game-page .uploadlabel {
  height: 160px !important;
}

@media (max-width: 1300px) {
  .game-page .question-box h3 {
    font-size: 1rem;
  }
  .game-page .question-box .top span {
    font-weight: 700;
    font-size: 1rem;
  }
  .game-page .option {
    font-size: 13px;
  }
}
@media (max-width: 1150px) {
  .single-game {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .discover .for-games > .holder {
    gap: 30px;
    flex-direction: column-reverse;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .single-game {
    padding: 15px;
    width: 100%;
  }
  .game-page .question-box h3 {
    font-size: 14px;
  }
  .game-page .nav-btns button {
    width: 108px;
    height: 35px;
    font-size: 12px;
  }

  .game-page .question-box .top {
    gap: 6px;
    flex-direction: column-reverse;
  }
  .game-page .question-box .top span {
    font-size: 14px;

    font-weight: 700;
  }
  .game-page .options {
    gap: 6px;
  }
  .game-page .option {
    font-size: 12px;
  }
  .discover .steps-list .title {
    padding: 5px 8px;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .game-page .option {
    border-radius: 6px;
    padding: 8px 15px;
    font-weight: 700;
  }
  .game-page .question-box {
    padding: 15px 22px 15px;
  }
  .game-page .options {
    margin: 0px 0 14px;
  }
  .game-page .nav-btns button {
    font-size: 10px;
  }
}
