.landing {
  width: 100%;
}

.landing .swiper,
.landing .swiper .swiper-slide {
  width: 100%;
  height: 93vh;
}

.swiper img {
  position: relative !important;
  object-fit: cover;
}

.swiper .slide-content {
  text-align: center;
  width: 95%;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.swiper .slide-content::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  box-shadow: 0 0 400px 121px #0000006b;
}
.swiper .slide-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.swiper .slide-content span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: white;
}
.swiper .slide-content h1 {
  font-size: 75px;
  color: white;
}
.swiper .slide-content h2 {
  font-weight: 400;
  font-size: 21px;
  max-width: 55%;
  color: white;
}

.swiper .slide-content button {
  background: var(--main-color);
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}
.swiper .slide-content button:hover {
  background: var(--hover-color);
}
.swiper-pagination {
  background: #fff;
  border-radius: 50px;
  gap: 5px;
  padding: 8px 18px;
  display: flex;
  width: fit-content !important;
  left: 50% !important;
  transform: translate(-50%, -13px) !important;
  z-index: 1 !important;
}
.swiper-pagination-bullet {
  background-color: #e7802c69 !important;
  width: 19px !important;
  height: 6px !important;
  border-radius: 25px !important;
  opacity: 1 !important;
  transition: 0.3s;
  margin: 0 !important;
}
.swiper-pagination-bullet-active {
  width: 24px !important;
  background-color: var(--main-color) !important;
}

/*! CATEGORIES  */

.categories {
  flex-direction: column;
  gap: 30px;
  margin: 60px 0 10px;
  display: flex;
}

.categories .swiper {
  width: 90%;
  border-radius: 24px;
}
.swiper-pagination.backhome {
  position: relative;
  border: 1px solid var(--border-color);
  transform: unset !important;
  left: unset !important;
  margin: 2px auto 0;
  bottom: unset;
}
.categories .swiper .swiper-slide {
  aspect-ratio: 1.4;
}
.categories .box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 24px;
}
.categories img {
  object-fit: cover;
  transition: 0.6s ease;
  position: relative !important;
}
.categories .box:hover img {
  transform: scale(1.15);
}
.categories .box:before {
  content: "";
  z-index: 1;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 54px 24px #000000f2;
}
.categories .text-holder {
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: -34px auto 0;
  padding: 0 20px;
  transition: all 0.3s;
  display: flex;
  position: relative;
}
.categories .text-holder > * {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.3s;
  text-transform: uppercase;
}
.categories .places-count {
  font-size: 15px;
}
/*! governorates  */

.governorates,
.places,
.products,
.events,
.nights {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 34px;
}

.governorates .grid-holder {
  grid-template-columns: repeat(3, 1fr);
}

/*! PLACES */

.places .grid-holder {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.places .card .text-holder {
  gap: 7px;
}
/*! PRODUCTS */

.products .grid-holder {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.products .card .text-holder {
  gap: 7px;
}

/*! NIGHTS */

.nights .grid-holder {
  grid-template-columns: repeat(3, 1fr);
}

/*! EVENTS */

.events {
  width: 100%;
}

.events .swiper {
  width: 80%;
  padding: 3px 3px;
}

/*! RESPONSIVE */

@media (max-width: 1700px) {
  .events .swiper {
    width: 90%;
  }
}
@media (max-width: 1600px) {
  .governorates,
  .places,
  .products,
  .events,
  .nights {
    margin: 35px auto;
  }
  .events .swiper {
    width: 96%;
  }
}

@media (max-width: 1400px) {
  .nights .grid-holder {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1300px) {
  .landing .swiper,
  .landing .swiper .swiper-slide {
    height: 70vh;
  }

  .swiper .slide-content {
    gap: 8px;
  }
  .swiper .slide-content span {
    margin-bottom: -4px;
  }
  .swiper .slide-content h1 {
    font-size: 65px;
  }
  .swiper .slide-content h2 {
    max-width: 80%;
  }
  .swiper .slide-content button {
    height: 42px;
    padding: 17px 26px;
    font-size: 13px;
  }
  .swiper-pagination {
    padding: 7px 14px;
  }
  .swiper-pagination-bullet {
    height: 5px !important;
  }

  .categories {
    margin: 35px 0;
  }
  .categories .masonry-horizontal {
    gap: 8px;
  }
}
@media (max-width: 1200px) {
  .products .grid-holder {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}
@media (max-width: 1100px) {
  .swiper .slide-content h1 {
    font-size: 60px;
  }
  .swiper .slide-content h2 {
    font-size: 18px;
  }

  .grid-holder {
    gap: 14px 12px;
  }
}
@media (max-width: 992px) {
  .governorates .grid-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .swiper .slide-content h2 {
    max-width: 85%;
  }
  .categories .text-holder {
    margin: -36px auto 0;
  }
  .places .grid-holder {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .categories .text-holder > * {
    font-size: 15px;
  }
  .categories .places-count {
    font-size: 14px;
  }
}
@media (max-width: 786px) {
  .swiper .slide-content h1 {
    font-size: 50px;
  }
  .swiper .slide-content h2 {
    font-size: 15px;
  }
  .swiper .slide-content span {
    font-size: 20px;
  }
  .swiper .slide-content h2 {
    max-width: 98%;
  }
  .swiper .slide-content button {
    height: 40px;
    padding: 17px 26px;
    font-size: 12px;
  }
  .categories .swiper {
    border-radius: 16px;
  }
  .categories .box {
    border-radius: 16px;
  }
}
@media (max-width: 600px) {
  .landing .swiper,
  .landing .swiper .swiper-slide {
    height: 45vh;
  }
  .swiper .slide-content h1 {
    font-size: 38px;
    line-height: 1;
  }
  .swiper .slide-content h2 {
    font-size: 13px;
  }
  .swiper .slide-content button {
    height: 39px;
    padding: 17px 18px;
    font-size: 11px;
  }
  .grid-holder {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 480px) {
  .swiper .slide-content:before {
    box-shadow: 0 0 118px 82px #0000006b;
  }
  .swiper .slide-content span {
    font-weight: 400;
    font-size: 15px;
  }
  .swiper .slide-content h1 {
    font-size: 29px;
  }
  .swiper .slide-content h2 {
    font-size: 12px;
  }
  .swiper .slide-content button {
    height: 32px;
    padding: 17px 18px;
    font-size: 10px;
    margin: 0;
  }
  .swiper-pagination {
    padding: 5px 12px;
  }
  .swiper-pagination-bullet {
    height: 4px !important;
  }

  .categories .text-holder > * {
    font-size: 13px !important;
  }

  .categories .text-holder {
    margin: -28px auto 0;
  }
}
