.legal-document {
  margin: 0 auto;
  padding: 50px 200px;
  line-height: 1.6;
  color: #333;
}

.document-section {
  margin-bottom: 40px;
}

.document-section h1 {
text-align: center;
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 800;
}

.document-section h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.document-section h3 {
    font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 6px;
}

.metadata {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.metadata p {
  margin: 5px 0;
}

.legal-document p {
  margin-bottom: 5px;
  text-align: left;
      font-size: 16px;
}
.legal-document ul {
  padding-left: 30px;
}
.legal-document li {
    margin-bottom: 8px;
    position: relative;
    list-style: disc;
}

