.single-page .navigations {
  width: unset;
  margin: 6px 0;
  padding: 0;
}
.single-page > .holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin: 0 auto 75px;
}
.single-page .title-holder {
  margin: 38px auto 35px;
}
.single-page .images-holder {
  flex-direction: column;
  gap: 14px;
  display: flex;
  height: fit-content;
  position: sticky;
  top: 88px;
}
.single-page .images-holder > img {
  object-fit: fill;
  position: relative !important;
  aspect-ratio: 1;
  border-radius: 20px;
}
.single-page .images-holder .imgs {
  align-items: center;
  gap: 7px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.single-page .images-holder .imgs .img {
  object-fit: fill;
  max-height: 77px !important;
  width: unset !important;
  position: relative !important;
  border-radius: 9px;
  aspect-ratio: 1;
  cursor: pointer;
  overflow: hidden;
}
.single-page .images-holder .imgs .img img {
  object-fit: fill;
  position: relative !important;
  transition: 0.3s;
}

.single-page .images-holder .imgs .img:hover img {
  scale: 1.1;
}
.single-page .images-holder .imgs .img:has(img.active) {
  outline: 3px solid var(--main-color);
}
.single-page .details-holder {
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  display: flex;
  position: sticky;
  top: 72px;
  padding-top: 20px;
}
.single-page .details-holder h3 {
  font-size: 25px;
  color: #3f3f3f;
}
.single-page .details-holder h5 {
  font-size: 16px;
  color: var(--paragraph);
}
.single-page .details-holder h5 a {
  color: var(--title-color);
}
.single-page .details-holder h5 a:hover {
  color: var(--main-color);
}
.single-page .details-holder .discount {
  font-size: 15px;
}
.single-page .details-holder .old-price {
  font-size: 17px;
}
.single-page .details-holder .new-price {
  font-size: 19px;
}
.single-page .details-holder .Availability {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}
.single-page .details-holder .Availability .hold {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: var(--paragraph);
  font-weight: 600;
}
.single-page .details-holder .Availability span {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 700;
}
.single-page .details-holder .Availability .in {
  color: #16a34a;
}
.single-page .details-holder .Availability .out {
  color: #d94452;
}
.single-page .details-holder .description {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

.single-page .actions {
  align-items: center;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.single-page .actions button {
  height: 44px;
  width: 100%;
}
.single-page .actions .hold {
  gap: 8px;
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 1fr;
}
.single-page .actions .forFavoriet {
  background: #ffdebd;
  border: 1px solid var(--main-color);
  color: var(--paragraph);
  font-weight: 500;
}
.single-page .actions .forFavoriet:hover {
  background: var(--main-color);
  color: white;
}
.single-page .details-holder .specifications {
  margin-top: 10px;
}
.single-page .details-holder .specifications h5 {
  color: var(--paragraph);
  font-size: 18px;
  margin-bottom: 2px;
}
.single-page .details-holder .specifications ul {
  flex-direction: column;
  padding-left: 15px;
  display: flex;
}
.single-page .details-holder .specifications ul li {
  color: var(--paragraph);
  font-size: 15px;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px 0;
}
.single-page .details-holder .specifications ul li:last-child {
  border-color: transparent;
}
.single-page .details-holder .specifications ul li::before {
  content: "•";
  color: var(--paragraph);
  position: absolute;
  left: -12px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.single-page .details-holder .specifications ul li span {
  color: var(--title-color);
  font-weight: 600;
}

/*! For Place */

.single-page.forPlace {
  max-width: 100%;
}
.single-page.forPlace > .holder,
.single-page.forPlace .details-holder {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.single-page.forPlace .images-holder,
.single-page.forPlace .details-holder {
  position: relative;
  top: unset;
}
.single-page.forNight .details-holder .reviews {
  transform: translateY(2px);
}
.single-page.forNight .details-holder .reviews .count {
  font-size: 14px;
  font-weight: 600;
}
.single-page.forNight .details-holder .details {
  display: flex;
  align-items: center;
  gap: 11px;
  flex-wrap: wrap;
}
.single-page.forPlace .hero-image-holder {
  width: 100%;
  margin: 0 auto 15px;
}
.single-page.forPlace .hero-image-holder img {
  object-fit: cover;
  width: 100%;
}
.single-page.forPlace .hero-image-holder .details {
  bottom: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 95%;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}
.single-page.forPlace .hero-image-holder .details h3 {
  margin: 0;
}
.single-page.forPlace .hero-image-holder .details:before {
  width: 100%;
}

.single-page.forPlace .details .free {
  color: #fff;
  background: var(--main-color);
  border-radius: 5px;
  min-width: max-content;
  padding: 10px 16px;
  font-size: 17px;
  font-weight: 700;
}
.single-page.forPlace > .holder {
  gap: 0px;
}
.single-page.forPlace .details-holder h3 {
  font-size: 34px;
  margin-bottom: -3px;
}
.single-page.forPlace .details-holder .description {
  font-size: 16px;
}
.single-page.forNight .details-holder .description {
  font-weight: 500;
}
.single-page.forPlace .holds:not(.noTikets) .details-holder .description {
  padding: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.single-page.forPlace .tickets {
  position: sticky;
  top: 88px;
  height: fit-content;
}
.single-page.forPlace > .holder .top {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 17px 0 12px;
}
.single-page.forPlace > .holder h4 {
  color: var(--paragraph);
  font-size: 18px;
}
.single-page.forPlace > .holder .top:not(:has(.navigation)) h4 {
  margin-bottom: 7px;
}
.single-page.forPlace > .holder .location h4 {
  margin-bottom: 0 !important;
}
.single-page.forPlace > .holder .top .hold {
  gap: 5px;
}
.single-page.forPlace > .holder .location .top .actions button {
  text-transform: capitalize;
  width: 100%;
  height: 37px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 14px 14px 0 0 !important;
}
.single-page.forPlace > .holder .location .i-frame {
  aspect-ratio: 2.8;
}
.single-page.forPlace > .holder .location iframe {
  border-radius: 20px;
}

.single-page.forPlace .images-swiper {
  margin: 35px 0 40px;
}
.single-page.forPlace .images-swiper .swiper {
  aspect-ratio: 3.5;
  border-radius: 20px;
}
.single-page.forPlace .images-swiper .swiper-slide {
  border-radius: 20px;
  overflow: hidden;
}
.single-page.forPlace .images-swiper .navigation {
  display: flex;
}
.single-page.forPlace .images-swiper .navigation button {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  border-radius: 15px 0 0;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 33px;
  display: flex;
  background: #ffdebd;
}
.single-page.forPlace .images-swiper .navigation button.custom-next {
  border-radius: 0 15px 0 0;
  width: 50px;
  border-left: 0;
}
.single-page.forPlace .images-swiper .navigation button:hover {
  background: var(--main-color);
  border-color: var(--main-color);
}
.single-page.forPlace .images-swiper .navigation button svg {
  color: var(--paragraph);
  font-size: 18px;
  transition: color 0.3s;
}
.single-page.forPlace .images-swiper .navigation button:hover svg {
  font-size: 20px;
  color: white;
}

.single-page.forPlace .images-swiper img {
  position: relative !important;
  object-fit: cover;
}
.single-page.forPlace .holds {
  display: grid;
  grid-template-columns: 1fr 430px;
  gap: 15px;
  margin-top: 7px;
}
.single-page.forPlace .holds.noTikets {
  grid-template-columns: 1fr !important;
}
.single-page .navigations {
  width: unset;
  margin: 0;
  padding: 0;
}
.single-page.forPlace .holds .top {
  padding: 0;
}
.single-page.forPlace .holds h4 {
  font-size: 16px;
}

.single-page.forPlace .tickets-list {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-top: 6px;
}
.single-page.forPlace .tickets-list > div {
  align-items: center;
  gap: 10px;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}
.single-page.forPlace .tickets-list > div:last-child {
  border-bottom: 0;
}
.single-page.forPlace .tickets-list h5 {
  color: var(--paragraph);
  text-align: center;
  border-right: 1px solid #e0e0e0;
  align-items: center;
  min-width: 97px;
  height: 48px;
  padding: 14px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}
.single-page.forPlace .tickets-list ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
.single-page.forPlace .tickets-list li {
  background: #9bd6ff52;
  text-align: center;
  border-radius: 7px;
  padding: 7px 13px;
  font-weight: 500;
  width: fit-content;
  color: var(--title-color);
  font-weight: 500;
  font-size: 12px;
}
.single-page.forPlace .tickets-list .free li {
  background: #20a851;
  width: 80px;
}
.single-page.forPlace .tickets-list li.egyption {
  background: #ffd1ad96;
}

@media (max-width: 1300px) {
  .single-page.forPlace > .holder .location .i-frame {
    aspect-ratio: 2.5;
  }
}
@media (max-width: 1200px) {
  .single-page .details-holder .actions button {
    font-size: 12px;
  }
  .hero-image-holder .details h3 {
    font-size: 37px;
  }
  .single-page.forPlace .holds {
    grid-template-columns: 1fr;
  }
  .single-page.forPlace .details-holder .description {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .single-page.forPlace .hero-image-holder .details .free {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .single-page > .holder {
    grid-template-columns: 1fr;
  }
  .single-page > .holder > *,
  .review-section .overview {
    position: relative !important;
    top: unset !important;
  }
  .single-page .details-holder {
    padding-top: 0;
  }
  .single-page.forPlace > .holder .location .i-frame {
    aspect-ratio: 2.2;
  }
  .single-page.forPlace > .holder .location .top .actions button {
    height: 25px;
    padding: 16px 26px;
  }
  .single-page.forPlace .images-swiper .navigation button {
    height: 31px;
  }
  .hero-image-holder .details h3 {
    font-size: 34px;
  }
  .single-page.forPlace .images-swiper .swiper {
    aspect-ratio: 2.6;
  }
}
@media (max-width: 768px) {
  .single-page > .holder {
    margin-bottom: 0;
  }
  .single-page .details-holder .actions {
    grid-template-columns: 1fr 1fr;
  }
  .single-page .details-holder .specifications ul li {
    font-size: 14px;
  }
  .single-page.forPlace .hero-image-holder .details {
    justify-content: flex-end !important;
  }
  .single-page.forPlace .details .free {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
  }
  .single-page.forPlace .images-swiper .swiper {
    aspect-ratio: 2.3;
  }
}
@media (max-width: 630px) {
  .single-page.forPlace .images-swiper .swiper {
    aspect-ratio: 1.9;
  }
}
@media (max-width: 500px) {
  .single-page .details-holder .actions .hold {
    grid-template-columns: 1fr 1fr;
  }
  .single-page.forPlace .details-holder .description {
    font-size: 14px;
    text-align: center;
  }
  .single-page.forPlace .details-holder h3 {
    font-size: 32px;
    text-align: center;
  }
  .single-page.forNight .details-holder .details {
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 3px;
  }
  .single-page.forNight .details-holder h3 {
    font-size: 26px;
    line-height: 1;
  }
  .single-page.forPlace > .holder .location iframe,
  .single-page.forPlace .images-swiper .swiper-slide,
  .single-page.forPlace .images-swiper .swiper {
    border-radius: 12px;
  }
  .single-page.forPlace .images-swiper .navigation button {
    width: 42px !important;
    height: 29px;
  }
  .single-page.forPlace .images-swiper .navigation button svg {
    font-size: 16px;
  }
  .single-page.forPlace .tickets-list > div {
    gap: 0;
  }
  .single-page.forPlace .tickets-list ul {
    flex-wrap: wrap;
    margin-right: 0;
    padding: 14px;
    display: flex;
  }
}
