.support {
}
.support form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.support form h4 {
  text-transform: capitalize;
  font-size: 17px;
  color: var(--paragraph);
  margin-bottom: 3px;
}
.support form .hold {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.support form .hold .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.support form .hold .grid.second {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
}
.support form .hold .option {
  cursor: pointer;
  border-radius: 92px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  height: 110px;
  padding: 15px;
  transition: all 0.3s;
  display: flex;
  background: var(--section-color);
  border: 1px solid var(--box-shadow-2);
}
.support form .hold .option.active,
.support form .hold .option:hover {
  background: var(--main-color-3) !important;
}
.support form .hold .box.forInput {
  width: 100%;
}
.support form .hold .box.forInput:has(textarea) {
  margin-top: 9px;
}
.support form .hold .option svg {
  font-size: 28px;
  color: var(--main-color-3);
}
.support form .hold .option h5 {
  font-size: 16px;
  color: var(--main-color-3);
  font-weight: 400;
}

.support form .hold .option.active svg,
.support form .hold .option.active h5,
.support form .hold .option:hover h5,
.support form .hold .option:hover svg {
  color: var(--body-color);
  font-weight: 600;
}

.support form .main-button {
  width: 100%;
  height: 50px;
  border-radius: 40px !important;
  background: var(--main-color);
  font-weight: 700;
}
.support form .main-button:hover {
  background: var(--hover-color);
}
.support .box.forInput .inputHolder .holder input {
  padding-left: 10px;
}
[lang="AR"] .support .box.forInput .inputHolder .holder input {
  padding-right: 10px;
  padding-left: unset;
}
.support .error {
  margin: 0;
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .support form .hold .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .support form .hold.contact .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .support form .hold .option {
    gap: 5px;
  }
  .support form .hold.contact .option {
    height: 95px;
  }
  .support form .hold .option svg {
    font-size: 25px;
  }
  .support form .hold .option h5 {
    font-size: 14px;
  }
}
