/*! Table settings  */
.table-container {
  width: 100%;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 35px;
}
.table-header {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1fr 1fr;

  gap: 30px;
  padding: 18px 1.2rem;
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}
.header-item {
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 0.3px;
  font-size: 15px;
  font-weight: 800;
  color: var(--paragraph);
}
.table-item {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1fr 1fr;

  gap: 30px;
  position: relative;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #e9ecef;
  transition: background-color 0.2s ease;
}
.header-item.details {
  justify-content: flex-start;
}
.table-item:last-child {
  border-color: transparent;
}
.table-item .item-image {
  display: flex;
  justify-content: center;
}
.table-item .item-remove {
  display: flex;
  justify-content: center;
}
.tableTitle {
  text-align: center;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px 10px 0 0;
  width: fit-content;
  padding: 9px 20px;
  font-size: 14px;
  font-weight: 500;
  transform: translateX(8px);
}
.container:has(.table-container) {
  margin-top: 36px;
}
.table-container .table-item {
  text-align: center;
}
.table-container .table-items .holder {
  display: flex;
  align-items: center;
  gap: 15px;
}
.table-container .table-items > * {
  color: var(--paragraph);
  font-size: 15px;
  font-weight: 600;
}
.table-container p.description {
  text-align: left;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
}
.table-container .price,
.table-item .item-price .price-holder .regular-price {
  color: var(--paragraph);
  font-size: 15px !important;
  font-weight: 700;
}

.table-container .link {
  color: var(--paragraph);
  margin: 0;
  font-size: 0.95rem;
  font-weight: 700;
  text-align: center;
}

.table-container .item-name,
.table-container .link {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.table-container .link:hover {
  color: var(--main-color);
}

.item-image .product-image {
  object-fit: fill;
  border-radius: 12px;
  position: relative !important;
  width: 115px !important;
  height: 100px !important;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.item-name {
  color: var(--paragraph);
  text-align: left;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.item-name:hover {
  color: var(--main-color);
}

.item-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.item-rating.center {
  gap: 0.2rem;
  font-size: 15px;
  flex-direction: column;
}
.reviews-count {
  color: var(--paragraph);

  font-size: 0.8rem;
  font-weight: 600;
}

.table-item .item-price .price-holder p {
  justify-content: center;
  gap: 8px;
  font-size: 15px;
}
.table-item .item-price .price-holder p * {
  font-size: 15px !important;
}
.table-item .item-price .price-holder p .discount {
  font-size: 0.95rem !important;
}

/*! Favoriet  */

.favorites .table-header {
  grid-template-columns: 2.2fr 1.3fr 1fr 1fr 0.7fr;
}
.favorites .table-item {
  grid-template-columns: 2.2fr 1.3fr 1fr 1fr 0.7fr;
}

.favorites .table-header.forPlace,
.favorites .table-items.forPlace .table-item {
  grid-template-columns: 1fr 11rem 9rem;
}
.remove-btn {
  color: #fff;
  background-color: #d94452;
  border-radius: 8px;
  height: 42px;
  font-size: 16px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn:hover {
  background-color: #c82333;
}

/*! Orders  */

.orders .table-header {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.orders .table-item {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.order-table .table-items .images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-table .table-items .images > * {
  margin-left: -10px;
}
.order-table .table-items .images img {
  object-fit: fill;
  border-radius: 50%;
  min-width: 52px;
  width: 52px !important;
  height: 52px !important;
  position: relative !important;
}
.order-table .table-items .images img:first-child {
  margin-left: 0;
}
.order-table .table-items .images span {
  color: #606060;
  z-index: 0;
  background: #ebebeb;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
}

.order-table .table-items .shipping.Express {
  color: var(--main-color);
  font-weight: 800;
  font-size: 16px;
}
.order-table .table-items .status.Cancelled {
  color: #d94452;
}
.order-table .table-items .status.Delivered {
  color: var(--main-color);
}
.order-table .table-items .status.Shipped {
  color: #2a84ff;
}
.order-table .table-items .date {
  font-size: 14px;
  line-height: 1.4;
}

/*! Booking  */
.booking {
  flex: 1;
}
.booking .table-header {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.booking .table-item {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0 !important;
}

@media (max-width: 1400px) {
  .table-header,
  .table-item {
    grid-template-columns: 1.7fr 1.4fr 1fr 1fr;
  }
  .item-image .product-image {
    width: 100px !important;
  }
}
@media (max-width: 1200px) {
  .table-header,
  .table-item {
    grid-template-columns: 1.7fr 1fr 1.1fr 0.7fr;
    gap: 15px;
    padding: 1rem;
  }
  .booking .table-header,
  .booking .table-item {
    grid-template-columns: 2fr 1fr 1fr 1fr 0.7fr 0.7fr;
  }
  .header-item {
    font-size: 14px;
    font-weight: 700;
  }

  .item-image .product-image {
    width: 100px !important;
    height: 85px !important;
  }
  .item-name {
    font-size: 15px;
  }

  .table-item .item-price .price-holder p {
    justify-content: center;
    gap: 3px 8px;
  }
  .table-item .item-price .price-holder p .discount {
    font-size: 0.85rem !important;
  }
  .quantity-btn {
    min-width: 34px;
    max-width: 34px;
    height: 34px;
  }
  .remove-btn {
    width: 37px;
    height: 37px;
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .table-header,
  .table-item {
    grid-template-columns: 1.7fr 1fr 0.8fr 0.5fr;
  }
  .booking .table-header,
  .booking .table-item {
    grid-template-columns: 2.4fr 1fr 1fr 1fr 0.8fr 0.8fr;
  }
}
@media (max-width: 992px) {
  .booking .table-header,
  .booking .table-item {
    grid-template-columns: 2.4fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  .item-image .product-image {
    width: 80px !important;
    height: 70px !important;
    border-radius: 10px;
  }

  .item-details {
    gap: 2px;
  }
  .item-name {
    font-size: 14px;
  }
  .table-container .link span {
    display: none;
  }
  .quantity-controls {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .table-container {
    box-shadow: unset;
    overflow: unset;
  }
  .table-container .table-item {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 10px #0000001a;
    padding-bottom: 12px !important;
  }
  .table-container .table-items > *,
  .table-container .table-items .holder {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    border: none;
  }
  .table-header {
    display: flex;
    margin-bottom: 15px;
    border-radius: 16px;
  }
  .table-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .table-container .table-items .holder {
    width: 100%;
    gap: 15px !important;
  }
  .table-item .item-image {
    width: 100%;
  }
  .item-image .product-image {
    width: 100% !important;
    height: unset !important;
    border-radius: 0px;
    aspect-ratio: 1;
  }
  .booking .item-image .product-image {
    aspect-ratio: 1.4;
  }
  .item-name {
    font-size: 16px;
  }
  .remove-btn {
    width: 34px;
    height: 34px;
  }
  .total-label {
    display: none;
  }
  .nav-btn {
    width: 125px;
  }
  .booking .item-details {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 18px;
    margin-bottom: 4px;
  }
  .booking .table-item p {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 7px 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: 14px;
  }

  .booking .table-item p:last-child {
    border-bottom: none;
  }
}
@media (max-width: 550px) {
  .table-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav-btn {
    width: 90px;
    font-size: 11px;
  }
}
