/*! Table settings  */
.table-container {
  width: 100%;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px;
  overflow: hidden;
    margin-bottom: 35px;
}
.table-header {
  display: grid;
  grid-template-columns: 8rem 1fr 15rem 11rem 11rem 9rem;
  gap: 30px;
  padding: 18px 1.2rem;
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}
.header-item {
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 0.3px;
    font-size: 15px;
    font-weight: 800;
  color: var(--paragraph);
}
.table-item {
  display: grid;
  grid-template-columns: 8rem 1fr 15rem 11rem 11rem 9rem;
  gap: 30px;
  position: relative;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #e9ecef;
  transition: background-color 0.2s ease;
}
.header-item.details {
  justify-content: flex-start;
}
.table-item:last-child {
  border-color: transparent;
}
.table-item .item-image {
  display: flex;
  justify-content: center;
}
.table-item .item-remove {
  display: flex;
  justify-content: center;
}
.tableTitle {
    text-align: center;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px 10px 0 0;
    width: fit-content;
    padding: 9px 20px;
    font-size: 14px;
    font-weight: 500;
    transform: translateX(8px);
}

.table-container .table-item {
  text-align: center;
}
.table-container .table-items .holder {
  display: flex;
  align-items: center;
  gap: 15px;
}
.table-container .table-items > * {
    color:var(--paragraph);
    font-size: 15px;
    font-weight: 600;
}
.table-container p.description {
text-align: left;
    font-size: 14px;
}
.table-container .price,
.table-item .item-price .price-holder .regular-price {
    color: var(--paragraph);
    font-size: 15px !important;
    font-weight: 700;
}

.table-container .link {
    color:var(--paragraph);

    margin: 0;
    font-size: 0.95rem;
    font-weight: 700;
    text-align: center;
}

.table-container .link:hover {
  color: var(--main-color);
}

.item-image .product-image {
  object-fit: cover;
  border-radius: 12px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.item-name {
  font-size: 1rem;
  font-weight: 600;
color: var(--title-color);
  margin: 0;
text-align: left;
}
.item-name:hover {
  color: var(--main-color);
}


.item-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.item-rating.center {
  gap: 0.2rem;
font-size: 15px;
  flex-direction: column;
}
.reviews-count {
    color:var(--paragraph);

    font-size: .8rem;
    font-weight: 600;
}

.table-item .item-price .price-holder p {
  justify-content: center;
  gap: 8px;
}
.table-item .item-price .price-holder p * {
  font-size: 1rem !important;
}
.table-item .item-price .price-holder p .discount {
  font-size: 0.95rem !important;
}

/*! Favoriet  */

.favorites .table-header {
  grid-template-columns:  2.2fr 1.3fr 1fr 1fr 0.7fr;
}
.favorites .table-item {
  grid-template-columns:  2.2fr 1.3fr 1fr 1fr 0.7fr;
}
.favorites .table-header.forPlace {
  grid-template-columns:  1fr 9rem 11rem 9rem;
}
.favorites .table-items.forPlace .table-item{
  grid-template-columns:  1fr 9rem 11rem 9rem;
}
.remove-btn {
  color: #fff;
  background-color: #d94452;
  border-radius: 8px;
  height: 42px;
  font-size: 16px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn:hover {
  background-color: #c82333;
}


/*! Orders  */

.orders .table-header {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.orders .table-item {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.order-table .table-items .images {
      display: flex;
    align-items: center;
    justify-content: center;
}
.order-table .table-items .images > * {
    margin-left: -10px;
}
.order-table .table-items .images img {
    object-fit: fill;
    border-radius: 50%;
    min-width: 52px;
    width: 52px !important;
    height: 52px !important;
    position: relative !important;
}
.order-table .table-items .images img:first-child {
  margin-left: 0;
}
.order-table .table-items .images span {
    color: #606060;
    z-index: 0;
    background: #ebebeb;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
}

.order-table .table-items .shipping.Express {
  color: var(--main-color);
  font-weight: 800;
  font-size: 16px;
}
.order-table .table-items .status.Cancelled {
  color: #d94452;
}
.order-table .table-items .status.Delivered {
  color: var(--main-color);
}
.order-table .table-items .status.Shipped {
  color: #2a84ff;
}
.order-table .table-items .date {
    font-size: 14px;
    max-width: 119px;
    line-height: 1.4;
    margin: auto;
}

/*! Booking  */

.booking .table-header {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
}
.booking .table-item {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
}