.filters {
  border-radius: 26px;
  height: fit-content;
  transition: all 0.3s;
  top: 105px;
  padding: 18px 4px;
  width: 300px !important;
  position: sticky !important;
  background: var(--section-color);
  border: 1px solid var(--second-color);
}

.filters .close {
  position: absolute;
  right: 15px;
  top: 9px;
  color: var(--main-color-3);
  width: 30px;
  height: 29px;
  border-radius: 5px;
}
[lang="AR"] .filters .close {
  right: unset;
  left: 15px;
}
.filters .close:hover {
  background: #c23737;
  color: white;
}
.filters .holder {
  gap: 10px !important;
  padding: 0 8px;
}
.filters hr {
  background: linear-gradient(
    90deg,
    #0000 0%,
    #5649294d 20%,
    #f3ae1c4d 50%,
    #5649294d 80%,
    #0000 100%
  );
}

.filters .holder h4 {
  color: var(--main-color-2);
  margin-left: 8px;
}
.filters .holder p {
  margin-left: 7px;
}

.filters ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filters .availability ul {
  gap: 0;
}
.filters .holder ul li {
  cursor: pointer;
  color: var(--paragraph);
  border-radius: 12px;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  overflow: hidden;
}
.filters .availability ul li {
  flex-direction: row;
  gap: 4px;
}
.filters .holder ul li .main-cat,
.filters .availability ul li {
  padding: 5px 6px;
  transition: 0.3s;
}
.filters .holder ul li:has(.sub-cats) .main-cat {
  padding: 9px 6px;
}

.filters .holder ul li .main-cat:hover,
.filters .holder ul li .main-cat.active {
  color: var(--main-color);
  background: var(--second-color);
}
.filters .holder .sub-cats {
  background: var(--second-color);
  flex-direction: column;
  gap: 2px;
  padding: 0 10px 10px;
  display: flex;
}
.filters .holder .sub-cats .sub-cat {
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 14px;
  transition: 0.3s;
}
.filters .holder .sub-cats .sub-cat.active,
.filters .holder .sub-cats .sub-cat:hover {
  color: var(--body-color);
  background: var(--main-color-3);
}
.filters .holder .price-input {
  align-items: center;
  gap: 5px;
  display: flex;
  padding: 0 8px;
}
.filters .holder .price-input .field {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 50%;
}
.filters .holder .price-input .field span {
  font-size: 13px;
  color: var(--paragraph);
  font-weight: 700;
}
.filters .holder .price-input .field h3 {
  font-size: 15px;
  color: var(--paragraph);
  border: 1px solid var(--second-color);
  padding: 6px 12px;
  border-radius: 7px;
  flex: 1;
  text-align: center;
  font-weight: 700;
}
.filters .separator {
  width: 11px;
  height: 2px;
  background: var(--paragraph);
}
.filters .price-slider {
  color: var(--main-color-3);
  width: 90%;
  height: 3px;
  margin: auto;
  padding: 7px 0;
}

.selected-filters {
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  display: flex;
  margin-bottom: 20px;
}
.selected-filters strong {
  color: var(--main-color-2);
  margin-right: 3px;
  font-size: 16px;
}
.selected-filters p {
  background: var(--second-color);
  cursor: pointer;
  border-radius: 22px;
  align-items: center;
  gap: 1px;
  padding: 3px 4px 3px 10px;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  transition: 0.3s;
  color: var(--main-color);
}
[lang="EN"] .selected-filters p {
  font-family: var(--font-cinzel);
}
[lang="AR"] .selected-filters p {
  padding: 3px 10px 3px 4px;
}
.selected-filters p:hover {
  color: white;
  background: #c23737;
}
.selected-filters svg {
  color: var(--main-gradient);
  font-size: 23px;
}
.selected-filters p:hover svg {
  color: white;
}

.filters .checkbox {
  display: flex;
  margin-right: 2px;
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox .input {
  appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  border: 1px solid var(--paragraph);
  border-radius: 20px;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.filters li.active .custom-checkbox {
  border-color: transparent;
}
/* Hover effect */

/* Checked state */
.input:checked + .custom-checkbox {
  background: var(--main-gradient);
  border-color: var(--main-gradient);
}

/* Checkmark */
.input:checked + .custom-checkbox::after {
  content: "";
  border: 2px solid #000000;
  border-width: 0 2px 2px 0;
  width: 4px;
  height: 7px;
  position: absolute;
  top: 2px;
  left: 5px;
  transform: rotate(45deg);
}

/* Optional — Add spacing for labels next to checkbox */
.checkbox span + span {
  margin-left: 8px;
}

@media (max-width: 992px) {
  .filters.side-filter-nav {
    position: fixed !important;
    z-index: 10;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    transform: translateX(-100%);
  }
  .filters.active {
    transform: translateX(0%) !important;
  }
  [lang="AR"] .filters {
    left: unset;
    right: 0;
    transform: translateX(100%);
  }
  .selected-filters strong {
    color: black;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    height: 36px;
    margin-top: -3px;
    margin-right: 3px;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.3s;
    background: var(--main-color-3);
  }
}
@media (max-width: 500px) {
  .selected-filters strong {
    padding: 17px 17px;
    font-size: 13px;
  }
  .selected-filters p {
    font-size: 12px;
  }
}
