footer {
  color: #fff;
  background: #111;
  flex-direction: column;
  gap: 30px;
  padding: 36px 0 25px;
  display: flex;
  position: relative;
  margin-top: 25px;
}

.footer-bg {
  object-fit: fill;
  z-index: 0;
  opacity: 0.2;
}

footer .container {
  z-index: 1;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  display: grid;
  position: relative;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  padding: 30px 0;
  align-items: center;
}

footer .logo {
  position: relative !important;
  width: 180px !important;
  height: unset !important;
  margin: auto;
}
footer .paragraph {
  color: #b0b0b0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}

footer h4 {
  color: #e9e9e9;
  margin-bottom: 19px;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
  width: max-content;
}
footer .hold {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .about p {
  color: #959595;
  font-size: 16px;
  margin-bottom: 10px;
}
footer .about a {
  color: #959595;
  transition: color 0.3s;
}
footer .about a:hover {
  color: var(--main-color);
  font-weight: 600;
}
footer .social .holder {
  display: flex;
  gap: 5px;
  align-items: center;
}
footer .social .holder svg {
  color: #959595;
  width: 42px;
  height: 35px;
  padding: 5px;
  border-radius: 6px;
}
footer .social .holder svg:hover {
  color: white;
  background: var(--hover-color);
}
footer .social .holder a:first-child svg {
  padding: 3px;
}
footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  color: #959595;
  text-decoration: none;
  transition: 0.3s;
}

footer ul li a:hover {
  color: #ea8c43;
}

footer .privacy {
  text-align: center;
  font-size: 15px;
  z-index: 1;
  position: relative;
  color: #b0b0b0;
}

footer .privacy a {
  margin-left: 4px;
  font-size: 14px;
  transition: 0.3s;
  color: #b0b0b0;
}
footer .privacy a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: #ea8c43;
}
@media (max-width: 1100px) {
  footer {
    gap: 26px;
    padding: 30px 0 25px;
  }
  footer .logo {
    width: 160px !important;
  }
}
@media (max-width: 992px) {
  footer .container {
    width: 100%;
  }
  footer .paragraph {
    font-size: 14px;
    font-weight: 500;
  }
  footer h4 {
    padding-bottom: 10px;
    font-size: 18px;
  }
  footer .about p {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  footer .container {
    padding: 30px 50px;
    gap: 25px;
  }
}
@media (max-width: 600px) {
  footer .hold {
    gap: 25px;
  }
  footer .container * {
    text-align: center;
  }
  footer h4 {
    margin: 0 auto 19px;
  }
  footer .social .holder {
    justify-content: center;
  }
  footer .logo {
    width: 190px !important;
  }
}
@media (max-width: 500px) {
  .footer-bg {
    object-fit: cover;
  }
}