input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}

.register {
  height: 93vh;
  width: 100%;
  position: relative;
}
body:has(.register) footer {
  margin-top: 0;
}
.register .registerBackground {
  position: relative !important;
}
.register form {
  background: #fff;
  border-radius: 28px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 600px;
  max-width: 95%;
  height: fit-content;
  padding: 32px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register form h1 {
  color: var(--paragraph);
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  line-height: 1.2;
}
.register form .rowHolder {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.register form .main-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px !important;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
}
.register form .otherWay {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0;
}

.register form .otherWay span {
  min-width: max-content;
  color: var(--paragraph);
  font-size: 15px;
}
.register form .social-btns {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  display: grid;
}
.register form .social-btns .btn {
  color: var(--paragraph);
  cursor: pointer;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 9px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}
.register form .didntHasAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 500;
  color: var(--paragraph);
}
p.didntHasAccount {
  justify-content: flex-start;
  transform: translateX(8px);
}
.register form .mineLink {
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
.filters .btn {
  height: 44px;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}
.filters.filters.for-cats,
.filters.for-cats:has(.menu.active) {
  width: 100%;
}
.filters .menu {
  grid-template-columns: 1fr;
  top: 44px;
}
.filters.for-cats .menu {
  max-height: 216px;
  overflow: auto;
}
.filters.for-cats button {
  padding: 6px 8px;
  font-size: 14px;
}
.filters .btn svg {
  width: 38px;
  height: 44px;
  padding: 7px;
  background: transparent;
  color: var(--paragraph);
}

@media (max-width: 992px) {
  .register .registerBackground {
    object-fit: cover;
  }
  .register form {
    padding: 22px;
  }
}
@media (max-width: 768px) {
  .register {
    width: 100%;
    height: unset;
  }
  .register form {
    padding: 24px 16px;
    border-radius: 0;
    max-width: 100%;
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
  }
}
