* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --body-color: #ffffff;
  --section-color: #f2f2f2;
  --main-color: #ea8c43;
  --second-color: #ffe3c7;
  --hover-color: #dc7423;
  --title-color: #333;
  --paragraph: #575757;
}
body {
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
::-moz-scrollbar {
  width: 6px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
::-ms-scrollbar {
  width: 6px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  margin: 0;
  padding: 0;
  color: #222222;
}
svg {
  transition: 0.3s;
  cursor: pointer;
}
p,
pre {
  color: var(--paragraph);
  font-size: 15px;
  font-family: "Roboto";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  height: 1px;
  background: #b3b3b3;
  margin: 13px 0;
  border: none;
  width: 100%;
}
input,
textarea {
  outline: none;
  border: none;
  border-radius: 6px;
  color: #222222;
  background: transparent;
  font-family: "Roboto";
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: #222222 !important;
  font-weight: normal !important;
}
body.ar input {
  direction: rtl;
  font-size: 14px !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  transition: 0.3s;
}

.container,
.fluid-container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container,
  .fluid-container {
    width: 95%;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1400px;
  }
  .fluid-container {
    width: 1550px;
  }
}
@media (max-width: 768px) {
  .container,
  .fluid-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.grid-holder {
  display: grid;
  gap: 16px;
  row-gap: 18px;
}
.big-holder {
  display: flex;
  gap: 20px;
  margin: 15px auto 25px;
}
.ellipsis {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/*! Main Button */

.main-button {
  text-transform: uppercase;
  color: #fff;
  background: var(--main-color);
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: 46px;
  padding: 17px 26px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: flex;
  border-radius: 6px !important;
}
.main-button:hover {
  background: var(--hover-color);
}
.title-holder {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.title-holder.pages {
  margin: 38px auto 15px;
  padding: 0 40px;
  width: 100%;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 36px;
  display: flex;
  font-weight: 600;
  color: var(--main-color);
}
.main-title hr {
  width: 62px;
  height: 3px;
  background: var(--main-color);
}
.sub-title {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.3px;
}
.title-holder .main-button {
  height: 40px;
  font-size: 14px;
  margin: 15px auto -2px;
  width: 200px;
  border-radius: 50px !important;
}

.card {
  box-shadow: 0 0 5px 0px #dcdcdc;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.card .image-holder {
  overflow: hidden;
  display: flex;
  position: relative;
}
.card img {
  position: relative !important;
  object-fit: cover;
  cursor: pointer;
  transition: 1s;
  aspect-ratio: 1.7;
}
.card.product img {
  aspect-ratio: 1.15;
}
.card:hover img {
  scale: 1.1;
}

.card .text-holder {
  padding: 20px;
  border-radius: 20px;
  margin-top: -18px;
  z-index: 9;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .top {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.card.game .top p {
  font-weight: 700;
}
.card.game .top {
  justify-content: center;
  gap: 5px;
}
.card .name-link {
  color: var(--paragraph);
  font-weight: 600;
  font-size: 17px;
}

.card.game .name-link,
.card.product .name-link {
  font-size: 16px;
}
.card .text-holder a.explore {
  font-size: 14px;
  color: var(--main-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.card .text-holder a.explore svg {
  color: var(--main-color);
  transform: translateY(1px);
}
.card:hover svg.arrow {
  animation: arrow-bounce 1s infinite ease-in-out;
}
.card .text-holder a:hover,
.card .text-holder a:hover svg {
  color: var(--hover-color);
}
.reviews {
  display: flex;
  align-items: center;
  gap: 6px;
}
.reviews .count {
  color: var(--paragraph);
  font-weight: 500;
  font-size: 13px;
}
.card p {
  font-size: 14px;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.card.event p {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  font-size: 15px;
  margin: -4px 0 0;
}

@keyframes arrow-bounce {
  0%,
  100% {
    transform: translate(0, 1px);
  }
  50% {
    transform: translate(3px, 1px);
  }
}

.card .actions-icon {
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 11px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card .actions-icon > * {
  background: #494949;
  color: white;
  width: 26px;
  height: 26px;
  padding: 6px;
  border-radius: 6px;
}

.card .actions-icon svg:hover {
  background: var(--main-color);
}
.card .image-holder .main-button {
  position: absolute;
  bottom: -42px;
  width: 100%;
  left: 0;
  padding: 21px 0 41px;
  border-radius: 20px 20px 0 0 !important;
  transition: 0.5s;
}
.card:hover .image-holder .main-button {
  bottom: -1px;
}

.card .location {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--paragraph);
  font-size: 13px;
  font-weight: 500;
  min-width: max-content;
}

.card .location svg {
  color: var(--paragraph);
  font-size: 12px;
}

.card .main-button.rewards {
  letter-spacing: 0.2px;
  height: 38px;
  width: 100%;
  color: white !important;
}
.card .time-holder {
  border: 1px solid #e0e0e0;
  padding: 11px 0;
  border-radius: 9px;
}
.card .time-holder div {
  display: flex;
  justify-content: space-between;
  color: var(--paragraph);
  font-weight: 500;
  font-size: 15px;
  padding: 0 11px;
}
.card .time-holder .countdown span.main-color {
  color: var(--main-color);
}
.card .time-holder .startedAt {
}
.card .time-holder span {
}
.card .time-holder hr {
  margin: 9px 0;
  background: #e0e0e0;
}
.css-stars {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  line-height: 1;
}
.css-stars svg {
  color: #ea8c43 !important;
  fill: #ea8c43 !important;
  display: inline-block;
  line-height: 1;
}

.price-holder {
  font-weight: 500;
}
.price-holder p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px 7px;
}

.new-price {
  color: var(--hover-color);
  font-weight: 700;
  font-size: 15px;
}

.old-price {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}
.regular-price {
  color: var(--paragraph);
  font-weight: 800;
  font-size: 15px !important;
}
.discount {
  color: #16a34a;
  font-size: 13px;
  font-weight: 600;
}

.out-of-stock .status {
  color: #e63946;
  font-weight: 600;
}

.navigations {
  color: #555;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  display: flex;
  padding-left: 10px;
}
.navigations a {
  color: var(--paragraph);
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
}
.navigations a:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.navigations .separator {
  color: var(--paragraph);
  font-size: 19px;
  font-weight: 900;
}
.navigations .separator.last {
  color: var(--main-color);
}
.navigations .active {
  cursor: default;
  font-weight: 800;
  font-size: 16px;
  color: var(--main-color);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
}
.pagination li .page-num,
.pagination li.break {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
  color: var(--paragraph);
  background: var(--section-color);
  border: 1px solid var(--border-color);
  width: 40px;
  height: 40px;
  padding: 10px;
}
.pagination li.active .page-num,
.pagination li:hover .page-num {
  background: var(--main-color);
  color: white;
  font-weight: 600;
}
.pagination li.active .page-num {
  background: var(--main-color);
}
.pagination li.next a,
.pagination li.previous a {
  width: 80px;
  height: 40px;
}
.pagination li.break a {
  transform: translateY(-2px);
}
.pagination li.disabled .page-num {
  background: var(--section-color) !important;
  color: var(--title-color) !important;
  opacity: 0.7;
  cursor: auto;
}

.box.forInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.box.forInput label {
  color: var(--paragraph);
  font-size: 13px;
  font-weight: 700;
}

.box.forInput .inputHolder .holder {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}
.box.forInput .inputHolder .holder.nationality {
  cursor: pointer;
}
.box.forInput .inputHolder .holder svg {
  width: 35px;
  height: 44px;
  padding: 7px;
  color: var(--paragraph);
  margin-left: 2px;
}
.box.forInput .inputHolder .holder svg.eye {
  cursor: pointer;
}
.box.forInput .inputHolder .holder input {
  flex: 1;
  height: 44px;
  padding-right: 10px;
}
.box.forInput .inputHolder.password .holder input {
  padding-right: 0;
}
.error {
  color: red;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  margin: 2px 4px -6px;
}
.error svg {
  color: red;
  width: 15px;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  min-height: 60vh;
}
.error-page svg {
  font-size: 165px;
  color: var(--main-color);
}
.error-page h1 {
  font-size: 160px;
  color: var(--main-color);
  font-family: cursive;
  line-height: 1;
}
.error-page h4 {
  font-size: 34px;
  color: var(--paragraph);
}
.error-page p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #878787;
  margin: 5px 0 11px;
  max-width: 70%;
}
.error-page .btns {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero-image-holder {
  background: #000;
  border-radius: 0 0 45px 45px;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 2.4;
}
.hero-image-holder img {
  object-fit: cover;
  position: relative !important;
}
.hero-image-holder .details {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.hero-image-holder .details::before {
  content: "";
  z-index: 0;
  width: 61%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 175px 62px #000;
}
.hero-image-holder .details > * {
  position: relative;
  z-index: 1;
}
.hero-image-holder .details h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 4px;
}
.hero-image-holder .details p {
  color: #fcfcfc;
  width: 60%;
  font-size: 19px;
  font-weight: 400;
}

.filters {
  position: relative;
  width: 205px;
  transition: 0.3s;
}
.filters:has(.menu.active) {
  width: 320px;
}
.filters.filters.for-cats {
  width: 220px;
}
.filters.for-cats:has(.menu.active) {
  width: 320px;
}
.filters.filters.for-cats.gov {
  width: 220px !important;
}

.filters .btn {
  border: 2px solid var(--main-color);
  cursor: pointer;
  border-radius: 7px;
  align-items: center;
  height: 34px;
  display: flex;
  padding-right: 0;
  overflow: hidden;
  position: relative;
  flex: 1;
  justify-content: space-between;
}
.filters .btn h4 {
  color: var(--paragraph);
  font-size: 13px;
  font-weight: 500;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 9px;
}
.filters .btn svg {
  height: 34px;
  padding: 7px;
}
.dashboard .head .main-ico:hover {
  background: var(--hover-color);
}
.filters .menu {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  background: var(--body-color);
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  gap: 12px;
  width: 100%;
  height: fit-content;
  padding: 8px 12px 10px;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 34px;
  left: 0;
}
.filters.filters.for-cats .menu {
  gap: 5px;
}
.filters.filters.for-cats.gov .menu {
  max-height: 199px;
  overflow: auto;
  padding-right: 6px;
  grid-template-columns: 1fr;
}
.dashboard:has(.products) .head .filters .menu > .hold:last-child {
  grid-column: span 2;
}
.dashboard:has(.products) .head .filters .menu > .hold:last-child ul {
  flex-direction: row;
}
.dashboard:has(.products) .head .filters .menu > .hold:last-child li {
  flex: 1;
}
.filters .menu.active {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.filters .menu .hold {
  gap: 5px;
}
.filters .menu .hold h5 {
  color: var(--hover-color);
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters .menu .hold h5 svg {
  font-size: 15px;
  color: var(--hover-color);
}
.filters .menu .hold ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}
.filters .menu .hold ul li {
  background: var(--section-color);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 12px;
  transition: 0.3s;
}
.filters .menu .hold ul li:hover {
  background: var(--second-color);
}
.filters .menu .hold ul li.active {
  background: var(--second-color);
  border: 1px solid var(--main-color);
}
.filters.for-cats {
}
.filters.for-cats button {
  border-radius: 5px;
  text-align: left;
  padding: 4px 8px;
  font-size: 12px;
  transition: 0.3s;
  background: var(--section-color);
}
.filters.for-cats button:hover,
.filters.for-cats button.active {
  background: var(--second-color);
}
.filters.for-cats input {
  flex: 1;
  height: 100%;
  color: var(--paragraph);
}
.filters.for-cats .no-results {
  color: var(--paragraph);
  font-weight: 500;
  font-size: 13px;
}
svg.main-ico {
  padding: 0;
  background: var(--main-color);
  color: #fff;
  border-radius: 0;
  width: 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .hero-image-holder .details h3 {
    font-size: 42px;
  }
  .hero-image-holder .details p {
    font-size: 18px;
  }
}

@media (max-width: 1050px) {
  .hero-image-holder .details h3 {
    font-size: 40px;
  }
  .hero-image-holder .details p {
    font-size: 17px;
    width: 75%;
  }
}

@media (max-width: 992px) {
  .sub-title {
    max-width: 95%;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  .pagination {
    justify-content: center;
  }
  .hero-image-holder {
    border-radius: 0 0 28px 28px;
    aspect-ratio: 2;
  }

  .card .name-link {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .hero-image-holder .details {
    bottom: 30px;
    left: 0;
  }
  .hero-image-holder .details h3 {
    font-size: 31px;
  }

  .single-page.forPlace .hero-image-holder .details .free {
    font-size: 14px;
  }
  .hero-image-holder .details p {
    width: 85%;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .title-holder {
    width: 100%;
    padding: 0 15px !important;
  }
  .main-title {
    font-size: 30px;
  }

  .main-title hr {
    width: 34px;
  }
  .card.product img {
    aspect-ratio: 1.35;
  }
  .navigations {
    padding-left: 20px;
  }
  .pagination li.next a,
  .pagination li.previous a {
    width: 50px;
    font-size: 18px;
    height: 40px;
  }
  .hero-image-holder {
    padding: 0;
    border-radius: 0 0 30px 30px;
  }
  .hero-image-holder .details p {
    width: 100%;
  }
  .hero-image-holder .details {
    text-align: center;
  }
  .single-page.forPlace .hero-image-holder .details {
    flex-wrap: wrap !important;
    bottom: 15px;
    justify-content: center !important;
  }
  .single-page.forPlace .hero-image-holder .details .free {
    font-size: 13px;
    padding: 9px 16px;
  }
  .card .time-holder div {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .single-page.forPlace > .holder .location .top .actions button {
    padding: 16px 18px;
  }
}
@media (max-width: 500px) {
  .sub-title {
    max-width: 100% !important;
  }
  .navigations {
    justify-content: center;
  }

  .hero-image-holder .details p {
    font-size: 15px;
  }
  .hero-image-holder .details:before {
    width: 100%;
    box-shadow: 0 0 175px 62px #000000c9;
  }
  .single-page.forPlace .hero-image-holder .details {
    flex-direction: column-reverse;
  }
  .holder .details .free {
    font-size: 13px;
    padding: 9px 16px;
    border-radius: 50px;
    font-weight: 600;
  }
  .single-page.forPlace .images-swiper .top {
    flex-direction: row !important;
  }
  .single-page.forPlace > .holder .top {
    flex-direction: column;
    gap: 6px;
  }
  .single-page.forPlace .details-holder .description {
    font-size: 14px;
    padding: 0;
    border: 0;
  }
}
@media (max-width: 400px) {
  .main-title {
    font-size: 26px;
  }
  .sub-title {
    font-size: 14px;
  }
  .title-holder .main-button {
    width: unset;
    height: 36px;
    padding: 18px 35px;
    margin-top: 10px;
  }
  .container:has(.table-container) {
    margin-top: 26px;
  }
}
